[data-role="header"] {
    text-align: center;
}

[data-role="footer"] {
    text-align: center;
    font-weight: small;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
}

