body {
    background-color: black;
}

td {
    color: black;
    border: 1px solid black;
}

table {
    background-color: yellow;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
}
